@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

html,
body {
    height: 100%;
}

html {
    padding-right: 0px !important;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-rgb);
    font-size: 18px;
}

.advent-card {
    height: 300px;
    width: 250px;
    border: 2px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    min-height: 400px;
    min-width: 400px;
    @apply p-10;
}

.modal h1 {
    @apply text-center;
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}
